name: VPN Scout Ultimate

on:
  schedule:
    - cron: '23 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  scout:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Важно для git pull

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install aiohttp requests

    - name: Run Scout Logic
      id: scout_step
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
      run: |
        python scout.py

    - name: Commit and Push changes
      env:
        COMMIT_MSG: ${{ steps.scout_step.outputs.COMMIT_MSG }}
      run: |
        # Настройка автора
        git config --global user.name 'VPN Scout Bot'
        git config --global user.email 'bot@noreply.github.com'
        
        # Добавляем только измененные текстовые файлы
        git add *.txt 2>/dev/null || true
        
        # Проверяем, есть ли изменения для коммита
        if git diff --cached --quiet; then
          echo "No changes to commit. Exiting."
          exit 0
        fi
        
        # Создаем коммит
        git commit -m "${COMMIT_MSG:-Scout Automatic Update $(date +'%Y-%m-%d %H:%M:%S')}"
        
        # Получаем последние изменения с репозитория
        git pull origin main --rebase --autostash
        
        # Пушим изменения
        git push origin main
